{% extends "header.html" %}
{% block content %}

<div class="search-page-container">
  <h2 class="search-title">Search up a Champion</h2>

  <form class="search-form" action="/" method="POST">
    {{ form.csrf_token }}
    {{ form.search_query(class="search-input", placeholder="Champion name") }}

    {% if form.search_query.errors %}
      <div class="error-box" role="alert">
        {% for error in form.search_query.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}

    {{ form.submit(class="search-button") }}
  </form>
</div>

{% endblock %}